<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">SPASS</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'doctors' %}">Doctors</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'appointments' %}">Appointments</a></li>
            </ul>
            
            {% if user.is_authenticated %}
                <a class='btn btn-warning' href='{% url "logout" %}'>Logout</a>
            {% endif %}
                
        </div>
    </div>
</nav>